ion-view.page-createPlugin(view-title='Create Plugin' cache-view='false')
    ion-nav-title {{ctrl.title}}
    ion-nav-buttons(side='left')
        a.button.button-icon.icon.ion-arrow-left-c(ng-click='ctrl.back()')
    ion-content(scroll='false')
        div(
            ace-editor='ctrl.aceOptions' 
            ng-model='ctrl.plugin.json'
            data-tap-disabled='true'
        )
    mfb-menu(
        ng-if='!ctrl.hideSaveButton'
        position='br'
        resting-icon='ion-checkmark-round'
        active-icon='ion-checkmark-round'
        ng-click='ctrl.submit()'
    )