ion-view.page-home(view-title='Projects' cache-view='false' hide-back-button='true')
    ion-content(padding='true')
        fallback(
            ng-if='!ctrl.projects.length'
            message='Tap + Button to Create a Project'
            icon='ion-plus-circled'
            ui-sref='createProject'
            style='cursor:pointer'
        )
        .row
            .col-xs(ng-repeat='project in ctrl.projects')
                .card
                    ion-item {{project.name}}
                    .button-bar
                        a.button.button-clear.button-dark.icon-left.ion-social-github(ng-href='https://github.com/{{project.github}}' target='_blank') Repo
                        a.button.button-clear.button-dark.icon-right.ion-earth(ng-href='http://{{project.subdomain}}.madnessenjin.net' target='_blank') Test
    mfb-menu(
        position='br'
        resting-icon='ion-plus-round'
        active-icon='ion-plus-round'
        ui-sref="createProject"
    )