ion-view.page-projectForm(view-title='Create Project')
    ion-content
        form(
            submit-on='submitForm'
            name='projectForm'
            ng-submit='ctrl.save()'
        )
            h2 Github Organization
            ion-scroll#org(direction='x')
                .bubble-wrap(
                    ng-repeat='org in ctrl.organizations'
                    ng-click='ctrl.project.organization = org.user ? null : org.name'
                    ng-class='{"selected": ctrl.project.organization == org.name || org.user && ctrl.project.organization == null}'
                )
                    .bubble
                        img(ng-src='{{org.avatar}}')
                    p {{org.name}}
            enjin-input(
                model='ctrl.project.name'
                placeholder='Name your new app'
                name='name'
                required='true'
                auto-focus='true'
            )
            enjin-input(
                model='ctrl.project.subdomain'
                placeholder='{{ctrl.cleanSubdomain(ctrl.project.name)}}'
                name='name'
                required='true'
                auto-focus='true'
            )
            enjin-input(
                model='ctrl.project.description'
                placeholder='Describe your new app'
                name='description'
            )
            h2 Visibility
            ion-toggle(
                ng-model='ctrl.project.public' 
                toggle-class='toggle-positive'
            ) {{ctrl.project.public ? "Public" : "Private"}}
    mfb-menu(
        position='br'
        resting-icon='ion-checkmark-round'
        active-icon='ion-checkmark-round'
        ng-click='ctrl.submit()'
    )